.signnup-container label {
  font-size: 15px !important;
  margin-left: 15px;
  margin-top: 0px;
  color: #D5C6DC !important;
}

.signnup-container input {
  font-size: 15px;
  margin-left: 15px;
}

/*password Input field style starts here ...*/

/* style for password underline */
.signnup-container .css-1ptx2yq-MuiInputBase-root-MuiInput-root:after {
  border-bottom: 2px solid #d5c6dc;
}

.signnup-container .css-1ptx2yq-MuiInputBase-root-MuiInput-root:hover:not(.Mui-disabled):before {
  border-bottom: 2px solid #d5c6dc;
}

.signnup-container .MuiInput-underline:before {
  border-bottom: 2px solid #D5C6DC;
}
/*password Input field style ends here ...*/


/* ################################### */

/*password Input field style starts here ...*/

/* style for pasword label */
.signnup-container .css-ujwy10-MuiInputBase-root-MuiInput-root {
  margin: 0px;
}

/* style for password underline */
.signnup-container .css-ujwy10-MuiInputBase-root-MuiInput-root:before {
  border-bottom: 2px solid #d5c6dc;
}

.signnup-container .css-ujwy10-MuiInputBase-root-MuiInput-root:after {
  border-bottom: 2px solid #d5c6dc;
}

.signnup-container
  .css-ujwy10-MuiInputBase-root-MuiInput-root:hover:not(.Mui-disabled):before {
  border-bottom: 2px solid #d5c6dc;
}
/*password Input field style ends here ...*/

.MuiFormControl-root label {
  color: #D5C6DC;
}
