.signnup-container label {
  font-size: 15px !important;
  margin-left: 15px;
  color: #d5c6dc !important;
}

.signnup-container input {
  font-size: 15px;
  margin-left: 15px;
}

.MuiInputLabel-formControl {
  color: aliceblue;
}

.MuiInput-underline:before {
  color: red;
}
.MuiInput-underline:after {
  color: red;
}
