.event-card .css-9e5uuu-MuiPaper-root-MuiAutocomplete-paper {
  background: rgba(0, 0, 0, 0.98) !important;
  border: 5px solid #ffffff !important;
  border-radius: 35px !important;
  color: #ffffff !important;
  font-family: "livingbynumbers" !important;
  font-style: normal;
  font-weight: 400;
  width: 100%;
  font-size: 1.5rem;
}
.event-card .css-t4hinj {
  background: rgba(0, 0, 0, 0.98) !important;
  border: 5px solid #ffffff !important;
  border-radius: 35px !important;
  color: #ffffff !important;
  font-family: "livingbynumbers" !important;
  font-style: normal;
  font-weight: 400;
  width: 100%;
  font-size: 1.5rem;
}
.event-card .css-t4hinj ul {
  width: 80%;
  margin: 0 auto;
  /* max-height: 50vh; */
}
.event-card .css-b7k0tb-MuiAutocomplete-listbox {
  width: 80%;
  margin: 0 auto;
  /* max-height: 50vh; */
}
.event-card .css-t4hinj ul::-webkit-scrollbar {
  display: none;
}
.event-card .css-b7k0tb-MuiAutocomplete-listbox::-webkit-scrollbar {
  display: none;
}
.event-card .css-b7k0tb-MuiAutocomplete-listbox {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.event-card .css-b7k0tb-MuiAutocomplete-listbox .MuiAutocomplete-option {
  width: 100% !important;
  margin: 0.5rem auto !important;

  background: #000000;
  border: 4px solid #ff0000;
  box-shadow: inset 0px 1px 1px 1px #ffffff;
  border-radius: 0.5em;
  font-size: 1.7rem;
}
.event-card .css-t4hinj li {
  width: 100% !important;
  margin: 0.5rem auto !important;

  background: #000000;
  border: 4px solid #ff0000;
  box-shadow: inset 0px 1px 1px 1px #ffffff;
  border-radius: 0.5em;
  font-size: 1.7rem;
}

.AutoCom .css-1x51dt5-MuiInputBase-input-MuiInput-input {
  display: flex !important;
  flex-direction: row;
  justify-content: center !important;
  font-family: "livingbynumbers" !important;
  font-size: 1.7rem;
  /* width: 60%; */
  text-align: center;
}
.AutoCom input {
  display: flex !important;
  flex-direction: row;
  justify-content: center !important;
  font-family: "livingbynumbers" !important;
  font-size: 1.7rem;
  /* width: 60%; */
  text-align: center;
}

.AutoCom .css-1q60rmi-MuiAutocomplete-endAdornment {
  width: 20%;
}
.AutoCom .css-2iz2x6 {
  width: 20%;
}
@media screen and (max-width: 992px) {
  .eventPage .topbar {
    display: none !important;
  }
  .AutoCom {
    font-size: 1.2em !important;
  }
  .AutoCom .MuiAutocomplete-inputRoot {
    width: 14em !important;
  }
  .AutoCom input::placeholder {
    font-size: 1.3rem !important;
    /* width: 40%; */
  }
  .AutoCom input {
    font-size: 1.3rem !important;
    /* width: 40%; */
  }
  .eventPage .topbar {
    display: none !important;
  }
  .event-card .css-b7k0tb-MuiAutocomplete-listbox .MuiAutocomplete-option {
    font-size: 1.3rem;
  }
  .event-card .css-t4hinj li {
    font-size: 1.3rem;
  }
}

.link a {
  color: inherit !important;
}
.MuiSelect-nativeInput {
  display: flex !important;
  flex-direction: row;
  justify-content: center !important;
  font-family: "livingbynumbers" !important;
  font-size: 1.7rem !important;
  color: #ffffff !important;
  /* width: 60%; */
  text-align: center;
}
.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  background: rgba(0, 0, 0, 0.98) !important;
  border: 5px solid #ffffff !important;
  border-radius: 35px !important;
  color: #ffffff !important;
  font-family: "livingbynumbers" !important;
  font-style: normal;
  font-weight: 400;
  width: fit-content;
  font-size: 1.5rem;
  /* min-width: 110px !important; */
}
.css-6hp17o-MuiList-root-MuiMenu-list {
  width: 90%;
  margin: 0 auto !important;
  max-height: 50vh;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.css-177ic5c {
  width: 90%;
  margin: 0 auto !important;
  max-height: 50vh;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.css-6hp17o-MuiList-root-MuiMenu-list::-webkit-scrollbar {
  display: none;
}
.css-177ic5c::-webkit-scrollbar {
  display: none;
}
 .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  width: 100% !important;
  margin: 0.5rem auto !important;

  background: #000000 !important;
  border: 4px solid #ff0000 !important;
  box-shadow: inset 0px 1px 1px 1px #ffffff;
  border-radius: 0.5em !important;
  font-size: 1.7rem !important;
  margin: 0 auto;
  font-family: "livingbynumbers" !important ;
  text-align: center;
}

 .MuiSelect-select {
  /* border: solid #ff0000 !important; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: "#000000";
  color: #ffffff !important;
  font-size: 1.4rem !important;
  font-family: "pasdecourbe" !important ;
  /* max-width: 17em !important; */
  font-family: "livingbynumbers" !important ;
  min-height: 10px !important;
  position: relative;
}
 .css-qiwgdb.MuiSelect-select {
  /* border: solid #ff0000 !important; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: "#000000";
  color: #ffffff !important;
  font-size: 1.4rem !important;
  font-family: "pasdecourbe" !important ;
  /* max-width: 17em !important; */
  font-family: "livingbynumbers" !important ;
  min-height: 10px !important;
  position: relative;
}
 .MuiSelect-select:focus {
  /* border-color: no, */
  /* border: solid #ff0000 !important; */
  outline: none !important;
}
.css-qiwgdb.MuiSelect-select:focus {
  /* border-color: no, */
  /* border: solid #ff0000 !important; */
  outline: none !important;
}
 .css-ove8eb-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  border-radius: 70px !important;
  border: 4px solid #ff0000 !important;
}
.css-iw83ej {
  border-radius: 70px !important;
  border: 4px solid #ff0000 !important;
}

 .css-ove8eb-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border: none !important;
}

 .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding-left: 32px !important;
  padding-right: 0 !important;
  justify-content: center !important;
}
 .css-i4bv87-MuiSvgIcon-root {
  margin-right: 10px;
}
.css-vubbuv {
  margin-right: 10px;
}

@media screen and (max-width: 992px) {
   .MuiSelect-select {
    font-size: 1.3rem !important;
  }
  .css-qiwgdb.MuiSelect-select {
    font-size: 1.3rem !important;
  }
   .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
    font-size: 1rem !important;
  }
  
    .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
    padding: 0.6rem 0.4rem !important;
  }
}
