.event-card .css-9e5uuu-MuiPaper-root-MuiAutocomplete-paper {
  background: rgba(0, 0, 0, 0.98) !important;
  border: 5px solid #ffffff !important;
  border-radius: 35px !important;
  color: #ffffff !important;
  font-family: "midnight" !important;
  font-style: normal;
  font-weight: 400;
  width: 100%;
  font-size: 1.5rem;
}
.event-card .css-t4hinj {
  background: rgba(0, 0, 0, 0.98) !important;
  border: 5px solid #ffffff !important;
  border-radius: 35px !important;
  color: #ffffff !important;
  font-family: "midnight" !important;
  font-style: normal;
  font-weight: 400;
  width: 100%;
  font-size: 1.5rem;
}
.event-card .css-t4hinj ul {
  width: 80%;
  margin: 0 auto;
  /* max-height: 50vh; */
}
.event-card .css-b7k0tb-MuiAutocomplete-listbox {
  width: 80%;
  margin: 0 auto;
  /* max-height: 50vh; */
}
.event-card .css-t4hinj ul::-webkit-scrollbar {
  display: none;
}
.event-card .css-b7k0tb-MuiAutocomplete-listbox::-webkit-scrollbar {
  display: none;
}
.event-card .css-b7k0tb-MuiAutocomplete-listbox {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.event-card .css-b7k0tb-MuiAutocomplete-listbox .MuiAutocomplete-option {
  width: 100% !important;
  margin: 0.5rem auto !important;
 
  background: #000000;
  border: 4px solid #ff0000;
  box-shadow: inset 0px 1px 1px 1px #ffffff;
  border-radius: 0.5em;
  font-size: 1.7rem;
}
.event-card .css-t4hinj li {
  width: 100% !important;
  margin: 0.5rem auto !important;
 
  background: #000000;
  border: 4px solid #ff0000;
  box-shadow: inset 0px 1px 1px 1px #ffffff;
  border-radius: 0.5em;
  font-size: 1.7rem;
}

.AutoCom .css-1x51dt5-MuiInputBase-input-MuiInput-input {
  display: flex !important;
  flex-direction: row;
  justify-content: center !important;
  font-family: "midnight" !important;
  font-size: 1.7rem;
  /* width: 60%; */
  text-align: center;
}
.AutoCom input {
  display: flex !important;
  flex-direction: row;
  justify-content: center !important;
  font-family: "midnight" !important;
  font-size: 1.7rem;
  /* width: 60%; */
  text-align: center;
}

.AutoCom .css-1q60rmi-MuiAutocomplete-endAdornment {
  width: 20%;
}
.AutoCom .css-2iz2x6 {
  width: 20%;
}
@media screen and (max-width: 920px) {
  .eventPage .topbar {
    display: none !important;
  }
  .AutoCom {
    font-size: 1.2em !important;
  }
  .AutoCom .MuiAutocomplete-inputRoot {
    width: 14em !important;
  }
  .AutoCom input::placeholder {
    font-size:1.3rem !important;
    /* width: 40%; */
  }
  .AutoCom input {
    font-size: 1.3rem !important;
    /* width: 40%; */
  }
  .eventPage .topbar{
    display: none !important;
  }
  .event-card .css-b7k0tb-MuiAutocomplete-listbox .MuiAutocomplete-option {
    font-size: 1.3rem;
  }
  .event-card .css-t4hinj li {
    font-size: 1.3rem;
  }

}
