.desktop-slider .swiper {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 50px;
  /* margin-left: 4vw; */
}

.desktop-slider .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 260px;
  height: 360px;
}

.desktop-slider .swiper-slide img {
  display: block;
  width: 80%;
  border-radius: 15px;
  height: 100%;
}

.desktop-slider .swiper-pagination {
  bottom: -3px !important;
}

.desktop-slider .swiper-pagination.swiper-pagination-fraction {
  left: -5%;
}

.desktop-slider .swiper-slide.swiper-slide-visible.swiper-slide-active {
  transform: translate3d(0px, 0px, 150px) rotateX(0deg) rotateY(0deg) scale(1) !important;
  transition: transform 0.3s ease-in !important;
}

.desktop-slider .swiper-slide.swiper-slide-visible.swiper-slide-prev {
  transform: translate3d(118px, 0px, -100px) rotateX(-1deg) rotateY(1deg)
    scale(1) !important;
}

.desktop-slider .swiper-slide.swiper-slide-visible.swiper-slide-next {
  transform: translate3d(-144px, 0px, -98px) rotateX(1deg) rotateY(-2deg)
    scale(1) !important;
}

.hLnzvN::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0%;
  -webkit-filter: blur(30px);
  filter: blur(30px);
  border-radius: 50px;
  background: #3e1c33c2;
}

.desktop-slider .swiper-button-next {
  margin-right: 10%;
  height: 50px;
  width: 50px;
  background: url("/public/images/slider-next.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.desktop-slider .swiper-button-prev {
  margin-left: 2%;
  height: 50px;
  width: 50px;
  background: url("/public/images/slider-prev.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.desktop-slider .swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.desktop-slider {
  max-width: 1100px;
  margin: 0 auto;
}
/* transform: translate3d(-144px, 0px, -98px) rotateX(1deg) rotateY(-2deg) scale(1) !important; */
/* 
.container {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
}

.desktop-slider .container {

  opacity: 1;
}


.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
} */
