.swiper {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
    /* margin-right: 210px; */
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 310px;
    height: 450px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    border-radius: 15px;
    height: 102%;
}

.swiper-pagination {
    bottom: -3px !important;
}

.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet {
    background-color: white;
}

.swiper-slide.swiper-slide-visible.swiper-slide-active {
    transform: translate3d(0px, 0px, 150px) rotateX(0deg) rotateY(0deg) scale(1) !important;
    transition: transform 0.3s ease-in !important;
}

.swiper-slide.swiper-slide-visible.swiper-slide-prev {
    transform: translate3d(50px, 0px, -100px) rotateX(-1deg) rotateY(8deg) scale(1) !important;
}

.swiper-slide.swiper-slide-visible.swiper-slide-next {
    transform: translate3d(-50px, 0px, -100px) rotateX(-1deg) rotateY(8deg) scale(1) !important;
}

@media only screen and (max-width: 650px) {
    .swiper {
        width: 240px;
        height: 320px;
    }

    .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 18px;
        font-size: 22px;
        font-weight: bold;
        color: #fff;
    }

    .swiper-slide:nth-child(1n) {
        background-color: rgb(206, 17, 17);
    }

    .swiper-slide:nth-child(2n) {
        background-color: rgb(0, 140, 255);
    }

    .swiper-slide:nth-child(3n) {
        background-color: rgb(10, 184, 111);
    }

    .swiper-slide:nth-child(4n) {
        background-color: rgb(211, 122, 7);
    }

    .swiper-slide:nth-child(5n) {
        background-color: rgb(118, 163, 12);
    }

    .swiper-slide:nth-child(6n) {
        background-color: rgb(180, 10, 47);
    }

    .swiper-slide:nth-child(7n) {
        background-color: rgb(35, 99, 19);
    }

    .swiper-slide:nth-child(8n) {
        background-color: rgb(0, 68, 255);
    }

    .swiper-slide:nth-child(9n) {
        background-color: rgb(218, 12, 218);
    }

    .swiper-slide:nth-child(10n) {
        background-color: rgb(54, 94, 77);
    }

}