@font-face {
  font-family: "midnight";
  src: url(./fonts/midnight_minutes/MidnightMinutes.otf);
}
@font-face {
  font-family: "bloody";
  src: url(./fonts/bloody/BLOODY.TTF);
}
@font-face {
  font-family: "nightOfTerror";
  src: url(./fonts/cf_night_of_terror/CFNightofTerrorFont.rtf),
    url(./fonts/cf_night_of_terror/CFNightofTerror.ttf);
}
@font-face {
  font-family: "adripingmarker";
  src: url(./fonts/adripingmarker/ADrippingMarker-Ddw1.ttf);
}
@font-face {
  font-family: "pasdecourbe";
  src: url(./fonts/pasdecourbe/Pasdecourbe-Wy9Y.ttf);
}
@font-face {
  font-family: "unutterable";
  src: url(./fonts/unutterable/Unutterable-z8E8X.ttf),
    url(./fonts/unutterable/UnutterableItalic-jE2E9.ttf);
}
@font-face {
  font-family: "livingbynumbers";
  src: url(./fonts/living-by-numbers/living\ by\ numbers.ttf);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  /* outline: 1px solid red; */
}
