@font-face {
  font-family: 'midnight';
  src: url(./fonts/midnight_minutes/MidnightMinutes.otf);
}
@font-face {
  font-family: 'bloody';
  src: url(./fonts/bloody/BLOODY.TTF);
}
@font-face {
  font-family: 'nightOfTerror';
  src: 
  url(./fonts/cf_night_of_terror/CFNightofTerrorFont.rtf),
  url(./fonts/cf_night_of_terror/CFNightofTerror.ttf) 
  ;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  /* outline: 1px solid red; */
}