.youtube {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 45rem;
  margin: 3rem 1rem;
  /* background-color: aquamarine; */

  border-radius: 2px;
  color: white;
}

.thumbnail {
  background: rgba(0, 0, 0, 0.72);
  border-radius: 64px;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.text {
  font-family: "midnight";
}
.title {
  margin: 0.5rem 0rem 1rem 0rem;
}
.text span {
  font-size: 1.5rem;
}

.bottom {
  display: flex;
  justify-content: space-between;
}
.youtube_ico {
  scale: 1.6;
  align-self: center;
  margin-right: 2.2rem;
}

@media screen and (max-width: 650px) {
  .youtube {
    height: 30rem;
  }
  .youtube iframe {
    width: 30rem;
    height: 30rem;
    border-radius: 29px;
  }
}
